body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightyellow;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
}

.container {
    background: cadetblue;
    border-radius: 5px;
    padding: 15px;
    border: none;
    color: aliceblue;
    margin: 20px;
    text-align: center;
}

.currency-container {
    padding: 20px;
    display: flex;
    justify-content: space-between; 
}

.currency-container select {
    padding: 10px;
}

.currency-container input {
    border: 0;
    background-color: transparent;
    text-align: right;
    font-size: 25px;
    color: aliceblue;
    /* width: 30%; */
    font-variant-numeric: tabular-nums;
}

.exchange-rate {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

input {
    padding: 0 10px;
    
}

select:focus,
input:focus {
    outline: none;
}